
header {
  color: #fff;
  height: auto;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(70, 187, 241); }
  header h1 {
    color: white; }
  header a {
    display: inline-block;
    margin: 10px 8px;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    background-color: rgb(70, 187, 241);
    text-decoration: none; }
  header a:hover {
    text-decoration: underline; }
  header a:visited {
    color: white; }

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 800; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: rgb(70, 187, 241); }

p {
  padding-left: 1em; }

.container {
  max-width: 960px;
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  margin: 10px auto; }

h2 {
  font-size: 1.4em;
  color: rgb(70, 187, 241);
  font-weight: 600; }